<style>
	.left-brand {
	font-size:25px;
	font-family: 'Kaushan Script', cursive;
}
.right-brand {
	margin-top:10px;
	margin-left:10px;
	font-size:20px;
	font-family: 'Black Ops One', cursive;
}
.mb-card {
	width:450px;
}
h5 {
	opacity:.8;
	font-family: 'Ubuntu', sans-serif; font-weight:700;
}
.hot-key {
	font-family: 'Ubuntu', sans-serif;
	text-align:left;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.3s linear all;
  opacity:0;
  transform:translateY(100%);
  background-color:#E8EAF6;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
  transform:translateX(0);
  background-color:none;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.3s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

/* The starting CSS styles for the enter animation */
.fade2.ng-enter {
  transition:0.6s linear all;
  opacity:0;
}
/* The finishing CSS styles for the enter animation */
.fade2.ng-enter.ng-enter-active {
  opacity:1;
}
/* now the element will fade out before it is removed from the DOM */
.fade2.ng-leave {
  transition:.8s linear all;
  opacity:1;
  background-color:none;
}
.fade2.ng-leave.ng-leave-active {
  opacity:0;
  background-color:#F06292;
}
</style>

<br>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--6-col" align="center">
        <div class="mb-card mdl-card mdl-shadow--8dp">
            <div class="mdl-card__title"></div>
            <h5 id="form-title">MB script Maker</h5>
            <div class="mdl-card__title"></div>
            <form name="mbForm" data-ng-submit="mbAdd()">
                <input type="text" data-ng-model="altName" ng-minlength=3 placeholder="Enter Character Name" tabindex=1>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" tabindex=2>ADD</button>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="mbClear()" tabindex=3>CLEAR</button>
            </form>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--6-col" align="center">
        <div class="mb-card mdl-card mdl-shadow--8dp fade2" ng-if="mbAlts.length >= 1">
	        <div class="mdl-card__supporting-text" ng-if="mbAlts.length >= 1">
				<hot-key></hot-key>
			</div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
</div>

<script>
angular.module('mbApp', ['ngAnimate'])
.controller('MbCtrl', function($scope){
	$scope.mbAlts = [];

	$scope.mbAdd = function(){
		$scope.mbAlts.push($scope.altName.substring(0,1).toUpperCase() + $scope.altName.substring(1));
		delete $scope.altName;
	};
	$scope.mbClear = function(){
		$scope.mbAlts = [];
		delete $scope.altName;
	};
})
.directive('hotKey', function(){
	return {
		templateUrl: 'hotkey.html'
	}
});
</script>